<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>7A66ED46-FA76-4DAA-BC5D-A5C256C500EC</key>
		<dict>
			<key>targetArchitecture</key>
			<string>armv7s</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone5,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphoneos</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
